body {
	background-color: rgb(0,0,0);
	color:white;
	font-family: "Tahoma", Times, serif;
}

.tracker {
	background-color: rgb(0,0,0);
	position: absolute;
	top: 0px;
	left: 0px;
}

td {
	width: 64px;
	height: 64px;
	cursor: default;
	text-shadow: 2px 2px 3px #000000, 
		-2px 2px 3px #000000, 
		-2px -2px 3px #000000,
		2px -2px 3px #000000,
		2px 0px 3px #000000,
		-2px 0px 3px #000000,
		0px 2px 3px #000000,
		0px -2px 3px #000000;
}

.corner {
	width: 32px;
	height: 32px;
}

.maxcount {
	color: lime;
}

.true {
	opacity: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.false {
	opacity: 0.25;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.half { /* goal is half there */
	opacity: 0.70;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.map {
	background-image: url("images/map.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 828px;
	height: 410px;
	top: 0px;
	left: 448px;
}

.uw-map {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 448px;
	z-index: 35;
}

.map-alt {
	background-image: url("images/map.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	width: 448px;
	height: 222px;
	top: 512px;
	left: 0px;
}

.boss {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 83.33%;
	position: absolute;
	margin-left: -12px;
	margin-top: -12px;
	outline-width: 1px;
	z-index: 3;
}

.boss-alt {
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 83.33%;
	position: absolute;
	margin-left: -6px;
	margin-top: -6px;
	outline-width: 0.5px;
	z-index: 3;
}

.dungeon {
	width: 36px;
	height: 36px;
	background-size: 100% 100%;
	position: absolute;
	margin-left: -18px;
	margin-top: -18px;
	z-index: 2;
}

.dungeon-alt {
	width: 18px;
	height: 18px;
	background-size: 100% 100%;
	position: absolute;
	margin-left: -9px;
	margin-top: -9px;
	z-index: 2;
}

.dungentr {
	width: 48px;
	height: 48px;
	background-size: 100% 100%;
	position: absolute;
	margin-left: -24px;
	margin-top: -24px;
	outline-width: 3px;
	outline-offset: -3px;
}

.dungentr-alt {
	width: 24px;
	height: 24px;
	background-size: 100% 100%;
	position: absolute;
	margin-left: -12px;
	margin-top: -12px;
	outline-width: 1.5px;
	outline-offset: -1.5px;
}

.chest, .uwchest {
	width: 24px;
	height: 24px;
	background-size: 100% 100%;
	position: absolute;
	margin-left: -12px;
	margin-top: -12px;
	outline-width: 3px;
	outline-offset: -3px;
}

.chest-alt {
	width: 12px;
	height: 12px;
	background-size: 100% 100%;
	position: absolute;
	margin-left: -6px;
	margin-top: -6px;
	outline-width: 1.5px;
	outline-offset: -1.5px;
}

.door, .entrance {
	width: 8.5px;
	height: 8.5px;
	background-size: 100% 100%;
	-moz-border-radius: 8.5px;
	-webkit-border-radius: 8.5px;
	border-radius: 8.5px;
	border: 2px solid black;
	padding: 1px;
	position: absolute;
	margin-left: -8.5px;
	margin-top: -8.5px;
}

.entrance-alt {
	width: 4.25px;
	height: 4.25px;
	background-size: 100% 100%;
	-moz-border-radius: 4.25px;
	-webkit-border-radius: 4.25px;
	border-radius: 4.25px;
	border: 1px solid black;
	padding: 0.5px;
	position: absolute;
	margin-left: -4.25px;
	margin-top: -4.25px;
}

.key, .shop, .hint {
	width: 12px;
	height: 12px;
	background-size: 100% 100%;
	transform: rotate(45deg);
	position: absolute;
	margin-left: -6px;
	margin-top: -6px;
	outline-width: 2px;
	outline-offset: -2px;
}

.shop-alt {
	width: 6px;
	height: 6px;
	background-size: 100% 100%;
	transform: rotate(45deg);
	position: absolute;
	margin-left: -3px;
	margin-top: -3px;
	outline-width: 1px;
	outline-offset: -1px;
}

.unavailable {
	background-color: rgb(255,0,0);
}
.available {
	background-color: rgb(0,255,0);
}
.possible {
	background-color: rgb(255,255,0);
}
.some {
	background-color: rgb(255,127,0);
}
.opened {
	background-color: rgb(127,127,127);
}
.undefined{
	background-color: rgb(255,255,255);
}
.no-show {
	opacity: 0;
	pointer-events:none;
}
.unavailabledoor {
	fill: rgb(255,0,0);
}
.availabledoor {
	fill: rgb(0,255,0);
}
.openeddoor{
	fill: rgb(127,127,127);
}

#caption {
	color: white;
	position: absolute;
	top: 410px;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

#caption-alt {
	color: white;
	position: absolute;
	top: 222px;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.mini {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

#logic_select {
	position: absolute;
	z-index: 5;
	left: 448px;
	top: 430px;
}
#itemplace_select {
	position: absolute;
	z-index: 5;
	left: 448px;
	top: 450px;
}
#variation_select {
	position: absolute;
	z-index: 5;
	left: 448px;
	top: 470px;
}
#accessibility_select {
	position: absolute;
	z-index: 5;
	left: 448px;
	top: 490px;
}

#goal_select {
	position: absolute;
	z-index: 5;
	left: 660px;
	top: 430px;
}
#tower_select {
	position: absolute;
	z-index: 5;
	left: 660px;
	top: 450px;
}
#ganon_select {
	position: absolute;
	z-index: 5;
	left: 660px;
	top: 470px;
}
#state_select {
	position: absolute;
	z-index: 5;
	left: 830px;
	top: 430px;
}
#bossShuffle_select {
	position: absolute;
	z-index: 5;
	left: 830px;
	top: 450px;
}
#hint_select {
	position: absolute;
	z-index: 5;
	left: 830px;
	top: 470px;
}
#swords_select {
	position: absolute;
	z-index: 5;
	left: 940px;
	top: 430px;
}
#door_select {
	position: absolute;
	z-index: 5;
	left: 1050px;
	top: 430px;
}

#difficulty_select{
	position: absolute;
	z-index: 5;
	left: 448px;
	top: 510px;
}



#option_button {
	position: absolute;
	top: 430px;
	left: 1214px;
	z-index: 15;
}
#option_button-alt {
	position: absolute;
	top: 734px;
	left: 640px;
	z-index: 15;
}
#reset_button {
	position: absolute;
	top: 452px;
	left: 1225px;
	z-index: 15;
}
#reset_button-alt {
	position: absolute;
	top: 756px;
	left: 640px;
	z-index: 15;
}

#options {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1276px;
	height: 100%;
	background-color: rgb(0,0,0);
	z-index: 10;
}

#close_uwmap_button {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 15;
}

#log-text-area {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 428px;
	height: 492px;
}

#category_select {
	position: absolute;
	width: 110px;
	left: 510px;
	top: 30px;
}
#item_select {
	position: absolute;
	width: 221px;
	left: 625px;
	top: 30px;
}

#add_top {
	position: absolute;
	top: 55px;
	left: 502px;
	width: 56px;
}
#remove_top {
	position: absolute;
	top: 55px;
	left: 563px;
	width: 56px;
}
#all_top {
	position: absolute;
	top: 55px;
	left: 624px;
	width: 56px;
}
#none_top {
	position: absolute;
	top: 55px;
	left: 685px;
	width: 56px;
}
#clear_top {
	position: absolute;
	top: 55px;
	left: 746px;
	width: 56px;
}

#top-area {
	position: absolute;
	top: 80px;
	left: 460px;
	width: 386px;
	height: 188px;
}
#arrow_up {
	position: absolute;
	top: 273px;
	left: 785px;
	width: 28px;
}
#arrow_down {
	position: absolute;
	top: 273px;
	left: 818px;
	width: 28px;
}
#bottom-area {
	position: absolute;
	top: 298px;
	left: 460px;
	width: 386px;
	height: 100px;
}

#display_options {
	position: absolute;
	top: 10px;
	left: 878px;
	width: 390px;
	background-color: rgb(0, 0, 0);
}

.doorsvg {
	position: absolute;
	height: 18px;
	width: 18px;
	margin-left: -9px;
	margin-top: -9px;
}
